* linguist-vendored

*.dart linguist-vendored=false
*.dart linguist-language=Dart



*.ts linguist-vendored=false
*.ts linguist-language=TypeScript

*.js linguist-vendored=false
*.js linguist-language=JavaScript
