* linguist-vendored

*.dart linguist-vendored=false
*.dart linguist-language=Dart

*.cpp linguist-vendored=false
*.c linguist-vendored=false
*.h linguist-vendored=false
*.c linguist-language=C++
*.h linguist-language=C++

*.ts linguist-vendored=false
*.ts linguist-language=TypeScript
